#home {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#home #banner {
	display: inline-grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 100%;
	min-width: 100%;
	width: 100%;
	height: 50vh;
	background-color: rgb(127, 255, 212, .6);
}

#home #banner .img {
	display: inline-block;
	grid-column-start: 1;
	order: 1;
	justify-self: stretch;
	width: 100%;
	height: auto;
}

#home #banner .info {
	display: inline-block;
	grid-column-start: 2;
	order: 2;
	justify-content: center;
	text-align: left;
	padding: 2rem 4rem;
	background-color: var(--gray);
}

#home #banner .info h1, p {
	width: 18rem;
}

#home #banner .info h1 {
	color: var(--blue);
	font-size: 2rem;
	line-height: 2.4rem;
}

#home #banner .info p {
	font-size: .8rem;
}

.button {
	display: inline-block;
	text-align: center;
	width: 9.2rem;
	height: 2.4rem;
	margin-top: .6rem;
	padding-top: .6rem;
	font-size: .8rem;
	color: #fff;
	background-color: var(--red);
	border-radius: .46rem;
	cursor: pointer;
}

#home #banner .button:hover {
	background-color: rgba(141, 0, 12, 0.9);
}

#home #ofertas {
	display: inline-flex;
	flex-direction: column;
	width: 70%;
	height: 50vh;
	margin: 1rem auto;
	background-color: rgb(255, 255, 0, .6);
}

#home #fique_por_dentro {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
	height: 50vh;
	margin: 1rem auto;
	background-color: rgb(0, 0, 255, .6);
}

#home #fique_por_dentro .news_card {
	display: block;
	width: 18.4rem;
}

#home #fique_por_dentro .news_card img {
	display: block;
	justify-self: strech;
	width: 100%;
	height: 80%;
}

#home #fique_por_dentro .news_card h2 {
	margin-top: -2rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

#home #fique_por_dentro .news_card a {
	width: 6rem;
	height: 3rem;
	padding: 1rem;
	font-size:.8rem;
	color: #000;
	text-decoration: none;
	border: 3px solid var(--gray);
	border-radius: .6rem;
	background-color: #fff;
	cursor: pointer;
}

#home #fique_por_dentro .news_card a span {
	position: relative;
	left: .2rem;
	color: var(--red);
	font-weight: bold;
}

#home #cartao {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 60vh;
	margin-top: 3rem;
	padding-top: 4rem;
	padding-left: 12.6rem;
	background-color: rgb(255, 165, 0, .6);
}

#home #cartao h1 {
	width: 25rem;
	justify-self: flex-start;
	text-align: left;
}