.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-flex;
  justify-content: space-evenly;
  text-align: center;
  width: 32rem;
  height: 5rem;
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: var(--red);
  border-radius: 0.46rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(141, 0, 12, 0.9);
}

#ofertas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#ofertas #banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 30vh;
  background-image: url("../../assets/img/ofertasbannertop.jpg");
  background-repeat: no-repeat;
  background-size: fill;
}

#ofertas #ofertas_inner {
  width: 100%;
  height: 100vh;
  padding: 6rem 18rem;
  padding-right: 6rem;
}

#ofertas #ofertas_left {
  width: 36%;
  height: 20%;
}

#ofertas #ofertas_left {
  font-size: 1.2rem;
}

#ofertas .select {
  position: relative;
  width: 26rem;
  height: 3rem;
  padding-left: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  border: 1px solid #454545;
  border-radius: 10px;
  background-color: #fff;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

#ofertas .select::-ms-expand {
  display: none;
}

#ofertas .select:after {
  position: absolute;
  top: 0;
  left: 0;
  content: ">";
  width: 4rem;
  height: auto;
  color: var(--red);
  font-size: 1.3em;
  font-family: "Nanum Gothic Coding", monospace;
  pointer-events: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#ofertas #tabloids {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45rem;
  height: 36rem;
  margin-top: 6rem;
  margin-left: 4rem;
}

#ofertas #tabloids div {
  width: 45%;
  height: auto;
  text-align: center;
}

#ofertas #tabloids img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#ofertas #tabloids h6 {
  margin-top: 0.8rem;
  font-size: 1rem;
}

#ofertas div a {
  margin-top: 4rem;
  margin-left: 4rem;
}

#ofertas #btn img {
  position: relative;
  top: -0.6rem;
  width: 3rem;
  height: 3rem;
}
