.bold {
  font-weight: 800;
}

.italic {
  font-weight: 800;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#quemsomos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#quemsomos #about {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-color: #fff;
}

#quemsomos #about #about_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 4rem 19rem;
}

#quemsomos #about #about_text h1 {
  width: 28rem;
  font-size: 2.6rem;
}

#quemsomos #about #about_text p {
  width: 30rem;
  line-height: 1.4rem;
}

#quemsomos #about img {
  display: flex;
  min-width: 50%;
  min-height: 100%;
  justify-self: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(127, 255, 212, 0.6);
}

#quemsomos #infobanner {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 40vh;
  padding-top: 2.4rem;
  color: #fff;
  background-image: url("../../assets/img/ofertasbanner.png");
  background-color: var(--yellow);
  background-size: contain;
}

#quemsomos #infobanner h2 {
  font-size: 3.6rem;
}

#quemsomos #infobanner p {
  font-size: 1.4rem;
}

#quemsomos #valuesbanner {
  display: inline-block;
  align-content: center;
  width: 100%;
  height: 56vh;
  padding: 2rem 18rem;
  color: #fff;
  background-color: var(--red);
}

#quemsomos #valuesbanner_inner {
  min-width: 100%;
  margin: 2rem auto;
}

#quemsomos #valuesbanner_inner h3 {
  font-size: 1.86rem;
  font-weight: 600;
}

#quemsomos #valuesbanner_inner p {
  line-height: 1.4rem;
}

#quemsomos #valuesbanner_left {
  width: 30rem;
  height: 30rem;
  border-right: 1px solid #fff;
  padding-right: 4rem;
}

#quemsomos #valuesbanner_center {
  width: 30rem;
  margin-left: 5rem;
}

#quemsomos #valuesbanner_center h3 {
  margin-bottom: 0.5rem;
}

#quemsomos #valuesbanner_right {
  width: 30rem;
  margin-top: 4.4rem;
  margin-left: 4rem;
}

#quemsomos #mapbanner {
  display: flex;
  width: 100%;
  height: 100vh;
}

#quemsomos #mapbanner #maptext {
  width: 28rem;
  height: auto;
  margin-top: 6rem;
  margin-left: 17.6rem;
  margin-right: 8rem;
}

#quemsomos #mapbanner #maptext h1 {
  font-size: 3rem;
}

#quemsomos #mapbanner #maptext p {
  width: 100%;
  text-align: justify;
  line-height: 1.6rem;
}

#quemsomos #mapbanner #imagemap {
  display: flex;
  justify-self: center;
  width: 60rem;
  height: 50rem;
  margin-top: 8rem;
  background-size: contain;
  background-image: url("../../assets/img/imagemap.png");
  background-repeat: no-repeat;
  background-position: center center;
}

/* aiming to 2560px width */
@media (min-width: 1921px) and (max-height: 1440px) {
  #quemsomos #about #about_text {
    padding: 5rem 24.6rem;
  }

  #quemsomos #about #about_text h1 {
    font-size: 3.2rem;
  }

  #quemsomos #about #about_text p {
    width: 38rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  #quemsomos #about #about_text p:last-of-type {
    margin-top: 2rem;
  }

  #quemsomos #infobanner {
    height: 38vh;
  }

  #quemsomos #infobanner h2 {
    font-size: 5rem;
  }

  #quemsomos #infobanner p {
    font-size: 2rem;
  }

  #quemsomos #valuesbanner {
    height: 59vh;
    padding: 4rem 23.8rem;
  }

  #quemsomos #valuesbanner h3 {
    font-size: 2.8rem;
  }

  #quemsomos #valuesbanner p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  #quemsomos #valuesbanner #valuesbanner_left {
    width: 36rem;
    height: 42rem;
  }

  #quemsomos #valuesbanner #valuesbanner_center {
    margin-left: 6rem;
  }

  #quemsomos #valuesbanner #valuesbanner_center p,
  #quemsomos #valuesbanner #valuesbanner_right p {
    margin-top: 2rem;
  }

  #quemsomos #valuesbanner #valuesbanner_right {
    margin-top: 6.2rem;
    margin-left: 6rem;
  }

  #quemsomos #mapbanner {
    height: 94vh;
  }

  #quemsomos #mapbanner #maptext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 52rem;
    margin-left: 22.8rem;
  }

  #quemsomos #mapbanner #maptext h1 {
    font-size: 4rem;
    margin-bottom: -1rem;
  }

  #quemsomos #mapbanner #maptext p {
    width: 38rem;
    font-size: 1.4rem;
  }

  #quemsomos #mapbanner #imagemap {
    width: 68rem;
    height: 68rem;
    margin-top: 7.6rem;
    margin-left: 12rem;
  }
}

/* aiming to 2560px width */
@media (min-width: 1920px) and (max-height: 1080px) {
  #quemsomos #about {
    height: 64vh;
  }

  #quemsomos #infobanner {
    height: 50vh;
  }

  #quemsomos #valuesbanner {
    height: 80vh;
  }

  #quemsomos #mapbanner {
    height: 124vh;
  }
}

@media (max-width: 1920px) and (max-height: 940px) {
  #quemsomos #about {
    height: 60vh;
  }

  #quemsomos #infobanner {
    height: 44vh;
  }

  #quemsomos #valuesbanner {
    height: 64vh;
  }

  #quemsomos #mapbanner {
    height: 116vh;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  #quemsomos #about {
    height: 51vh;
  }

  #quemsomos #about #about_text {
    padding: 1.8rem 13.6rem;
  }

  #quemsomos #about #about_text h1 {
    font-size: 2rem;
  }

  #quemsomos #about #about_text p {
    width: 25rem;
    font-size: 0.9rem;
  }

  #quemsomos #about #about_text p:last-child {
    margin-top: 2rem;
  }

  #quemsomos #infobanner {
    height: 40vh;
  }

  #quemsomos #infobanner h2 {
    font-size: 3rem;
  }

  #quemsomos #infobanner p {
    font-size: 1.2rem;
  }

  #quemsomos #valuesbanner {
    padding: 2rem 13rem;
  }

  #quemsomos #valuesbanner h3 {
    font-size: 1.46rem;
  }

  #quemsomos #valuesbanner p {
    font-size: 0.9rem;
  }

  #quemsomos #valuesbanner #valuesbanner_center p,
  #quemsomos #valuesbanner #valuesbanner_right p {
    margin-top: 1rem;
  }

  #quemsomos #valuesbanner #valuesbanner_center h3 {
    margin-bottom: 0.4rem;
  }

  #quemsomos #mapbanner {
    height: 96vh;
  }

  #quemsomos #mapbanner #maptext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    margin-left: 12.6rem;
  }

  #quemsomos #mapbanner #maptext h1 {
    font-size: 2.4rem;
  }

  #quemsomos #mapbanner #maptext p {
    width: 80%;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  #quemsomos #mapbanner #imagemap {
    width: 40rem;
    margin-top: 1.8rem;
    margin-left: -8rem;
  }
}

@media (max-width: 1440px) and (max-height: 790px) {
  #quemsomos #about {
    height: 58vh;
  }

  #quemsomos #about #about_text {
    padding: 1.8rem 14rem;
  }

  #quemsomos #infobanner {
    height: 44vh;
  }

  #quemsomos #valuesbanner {
    height: 76vh;
  }

  #quemsomos #mapbanner {
    height: 110vh;
  }
}

@media (max-width: 1440px) and (max-height: 770px) {
  #quemsomos #about #about_text {
    padding: 1.4rem 13rem;
  }

  #quemsomos #infobanner {
    height: 46vh;
  }

  #quemsomos #valuesbanner {
    padding: 1rem 12.2rem;
  }

  #quemsomos #mapbanner #maptext {
    margin-left: 11.8rem;
  }
}

@media (max-width: 1366px) and (max-height: 660px) {
  #quemsomos #about #about_text h1 {
    font-size: 1.8rem;
  }

  #quemsomos #about #about_text p {
    font-size: 0.8rem;
  }

  #quemsomos #about #about_text p:first-of-type {
    margin-top: 0.6rem;
  }

  #quemsomos #about #about_text p:last-child {
    margin-top: 0;
  }

  #quemsomos #infobanner {
    height: 54vh;
  }

  #quemsomos #valuesbanner {
    height: 87vh;
  }

  #quemsomos #mapbanner {
    height: 128vh;
  }
}

@media (max-width: 1366px) and (max-height: 625px) {
  #quemsomos #about {
    height: 62vh;
  }

  #quemsomos #infobanner {
    height: 50vh;
  }

  #quemsomos #infobanner h2 {
    font-size: 2.6rem;
  }

  #quemsomos #infobanner p {
    font-size: 1rem;
  }

  #quemsomos #valuesbanner {
    height: 92vh;
  }

  #quemsomos #valuesbanner #valuesbanner_right {
    margin-top: 3.6rem;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  #quemsomos #about {
    height: 46vh;
  }

  #quemsomos #about #about_text {
    padding: 1.6rem 12rem;
  }

  #quemsomos #about #about_text h1 {
    font-size: 1.8rem;
  }

  #quemsomos #about #about_text p {
    width: 21rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }

  #quemsomos #about #about_text p:last-child {
    margin-top: 1rem;
  }

  #quemsomos #infobanner {
    height: 36vh;
  }

  #quemsomos #infobanner h2 {
    margin-top: 1.2rem;
    font-size: 2.6rem;
  }

  #quemsomos #infobanner p {
    font-size: 1rem;
  }

  #quemsomos #valuesbanner {
    height: 67vh;
  }

  #quemsomos #valuesbanner #valuesbanner_left {
    height: 26rem;
  }

  #quemsomos #valuesbanner {
    padding: 2rem 11.8rem;
  }

  #quemsomos #valuesbanner p {
    width: 15rem;
    font-size: 0.7rem;
  }

  #quemsomos #valuesbanner #valuesbanner_right {
    margin-top: 3.6rem;
  }

  #quemsomos #mapbanner {
    height: 98vh;
  }

  #quemsomos #mapbanner #maptext {
    margin-left: 11.4rem;
  }

  #quemsomos #mapbanner #imagemap {
    width: 36rem;
    margin-top: 0;
  }
}

@media (max-width: 1280px) and (max-height: 610px) {
  #quemsomos #about {
    height: 58vh;
  }

  #quemsomos #infobanner {
    height: 48vh;
  }

  #quemsomos #valuesbanner {
    height: 88vh;
  }

  #quemsomos #mapbanner {
    height: 128vh;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #quemsomos #about #about_text {
    padding: 1.2rem 9.8rem;
  }

  #quemsomos #about #about_text p {
    width: 19rem;
  }

  #quemsomos #infobanner p {
    margin-top: -1rem;
    line-height: 1.6rem;
  }

  #quemsomos #valuesbanner {
    height: 63vh;
    padding: 1.2rem 9.6rem;
  }

  #quemsomos #valuesbanner div {
    padding-right: 1rem;
  }

  #quemsomos #valuesbanner p {
    width: 13rem;
    line-height: 1.1rem;
  }

  #quemsomos #valuesbanner #valuesbanner_left {
    height: 24rem;
  }

  #quemsomos #valuesbanner #valuesbanner_center {
    margin-left: 2.8rem;
  }

  #quemsomos #valuesbanner #valuesbanner_right {
    margin-left: 1rem;
  }

  #quemsomos #mapbanner {
    height: 84vh;
  }

  #quemsomos #mapbanner #maptext {
    margin-left: 9.4rem;
    height: 26rem;
  }

  #quemsomos #mapbanner #maptext h1 {
    font-size: 1.4rem;
    margin-bottom: -0.2rem;
  }

  #quemsomos #mapbanner #maptext p {
    width: 76%;
    font-size: 0.6rem;
    line-height: 1rem;
  }

  #quemsomos #mapbanner #imagemap {
    width: 40rem;
    margin-top: -5rem;
    margin-right: 8rem;
  }
}

@media (max-width: 1024px) and (max-height: 610px) {
  #quemsomos #valuesbanner {
    height: 80vh;
  }

  #quemsomos #mapbanner {
    height: 100vh;
  }
}
