#politicas {
  width: 100%;
  height: auto;
  background: #fff;
}

#container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 2rem 4rem;
}

#container h1 {
  text-align: center;
}

#container h1,
#container h2 {
  color: var(--blue);
}

#container div:first-of-type {
  margin-top: 4rem;
}

#container div:last-of-type {
  margin-bottom: 10rem;
}

@media (orientation: portrait) {
  #container {
    padding: 0;
  }

  #container div :is(h1, h2) {
    font-size: 1.2rem;
  }

  #container div h1 {
    margin-top: -1rem;
    text-align: left;
  }

  #container div h3 {
    font-size: 1rem;
  }

  #container div :is(p, li) {
    font-size: 0.8rem;
  }

  #container div :is(ul) {
    margin-left: -1rem;
  }

  #container div:last-of-type ul:last-of-type {
    margin-bottom: -7rem;
  }
}
