@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#nossaslojas {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 94vh;
  padding: 6rem 18rem;
}

#nossaslojas #nossaslojas_left {
  position: relative;
  width: 70%;
  height: auto;
}

#nossaslojas #nossaslojas_left h1 {
  font-size: 2.8rem;
}

#nossaslojas .select {
  position: relative;
  width: 26rem;
  height: 3rem;
  margin-top: 1rem;
  padding-left: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #9a9a9a;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  background-color: #fff;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

#nossaslojas #stores_select {
  display: block;
  position: relative;
}

#nossaslojas .select::-ms-expand {
  display: none;
}

#nossaslojas #stores_select::after {
  position: absolute;
  width: auto;
  height: auto;
  top: 1.82rem;
  left: 23rem;
  content: ">";
  color: var(--red);
  font-size: 1.4rem;
  font-family: "Nanum Gothic", monospace;
  pointer-events: none;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#nossaslojas #img {
  display: flex;
  justify-self: center;
  align-items: center;
  min-width: 98%;
  margin-top: 4rem;
  overflow: hidden;
}

#nossaslojas #img img {
  max-width: 100%;
  height: auto;
}

#nossaslojas #infocard {
  display: flex;
  flex-direction: column;
  width: 22.8rem;
  height: 32rem;
  margin-top: 15.2rem;
  margin-left: 1.8rem;
  padding: 0.4rem 2rem;
  background-color: #fff;
}

#nossaslojas #infocard h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

#nossaslojas #infocard #infolocation {
  display: flex;
  flex-direction: row;
  width: 92%;
  height: auto;
  max-height: 20%;
  margin-top: 0rem;
  margin-bottom: -4rem;
  font-size: 0.92rem;
}

#nossaslojas #infocard #infolocation img {
  margin-right: 1rem;
}

#nossaslojas #infocard #infohours {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 7rem;
  padding-bottom: 2rem;
  max-height: 20%;
  font-size: 0.92rem;
  border-bottom: 1px solid rgb(69, 69, 69, 0.2);
}

#nossaslojas #infocard #infohours h5 {
  color: var(--red);
  font-size: 1rem;
  font-weight: 500;
}

#nossaslojas #infocard #infohours h5,
#nossaslojas #infocard #infohours p {
  margin: 0;
  padding: 0;
}

#nossaslojas #infocard #infohours h5 {
  margin-bottom: 1rem;
}

#nossaslojas #infocard #infohours p {
  margin-top: 0.25rem;
}

#nossaslojas #infocard #contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 20%;
  margin-top: 2rem;
}

#nossaslojas #infocard #contact div {
  margin-top: 0.5rem;
}

#nossaslojas #infocard #contact div img {
  display: flex;
  width: 1.4rem;
  height: auto;
  margin-right: 0.8rem;
}

#nossaslojas #infocard button {
  width: 60%;
  height: 3rem;
  margin-top: 2rem;
  padding-top: 0.2rem;
  color: #d6d6d6;
  border: 2.5px solid #d6d6d6;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-align: center;
  text-decoration: none;
  will-change: background-color;
}

#nossaslojas #infocard button:focus,
#nossaslojas #infocard button:hover {
  color: var(--red);
  border: 2.5px solid var(--red);
  outline-color: var(--red);
}

#map_container {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 12rem;
}

#map_container iframe {
  display: flex;
  width: 84rem;
  height: 24rem;
  margin: 0 auto;
}

@media (max-width: 1920px) and (max-height: 970px) {
  #nossaslojas {
    height: 106vh;
  }

  #nossaslojas #infocard #infolocation {
    margin-top: 0;
  }

  #nossaslojas #infocard #infohours h5 {
    margin-bottom: 0.4rem;
  }

  #nossaslojas #infocard #contact {
    margin-top: 1rem;
  }

  #nossaslojas #infocard button {
    margin-top: 1.8rem;
    padding-top: 0.16rem;
  }
}

/* aiming to 2560px width */
@media (min-width: 2200px) and (max-height: 1440px) {
  #nossaslojas {
    padding: 6rem 24.6rem;
    height: 86vh;
  }

  #nossaslojas #nossaslojas_left h1 {
    font-size: 3.2rem;
  }

  #nossaslojas #nossaslojas_left .select {
    width: 34rem;
    height: 4rem;
    font-size: 1.4rem;
    border-radius: 16px;
  }

  #nossaslojas #stores_select::after {
    top: 1.8rem;
    left: 30rem;
    font-size: 2.4rem;
  }

  #nossaslojas #infocard {
    margin-top: 17.4rem;
    width: 30rem;
    height: 40rem;
    padding: 0.8rem 3rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 2.2rem;
  }

  #nossaslojas #infocard #infolocation {
    margin-top: 1rem;
    width: 100%;
  }

  #nossaslojas #infocard #infolocation img {
    width: 2rem;
    height: 3rem;
    margin-top: -1rem;
  }

  #nossaslojas #infocard #infolocation p {
    margin-top: -1rem;
    font-size: 1.2rem;
  }

  #nossaslojas #infocard #infohours {
    margin-top: 6rem;
  }

  #nossaslojas #infocard #infohours h5 {
    font-size: 1.4rem;
  }

  #nossaslojas #infocard #infohours p {
    font-size: 1.2rem;
  }

  #nossaslojas #infocard #contact div img {
    width: 2.4rem;
    height: 2.4rem;
  }

  #nossaslojas #infocard #contact div p {
    margin-top: 0.26rem;
    margin-left: 0.8rem;
    font-size: 1.4rem;
  }

  #nossaslojas #infocard #contact div:last-of-type img {
    margin-top: 1rem;
  }

  #nossaslojas #infocard #contact div:last-of-type p {
    margin-top: 1.2rem;
  }

  #nossaslojas #infocard button {
    width: 64%;
    height: 4rem;
    padding-top: 0.1rem;
    font-size: 1.4rem;
    border-radius: 14px;
  }

  #map_container {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
    margin-bottom: 12rem;
  }

  #map_container iframe {
    display: flex;
    width: 109rem;
    height: 40rem;
    margin: 0 auto;
  }
}

/* aiming to 2560px width */
@media (min-width: 2200px) and (max-height: 1080px) {
  #nossaslojas {
    height: 110vh;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  #nossaslojas {
    padding: 6rem 13rem;
    height: 94vh;
  }

  #nossaslojas #nossaslojas_left h1 {
    font-size: 2.4rem;
  }

  #nossaslojas #nossaslojas_left .select {
    font-size: 0.9rem;
  }

  #nossaslojas #stores_select::after {
    top: 1.6rem;
    font-size: 1.8rem;
  }

  #nossaslojas #infocard {
    height: 24.4rem;
    width: 18rem;
    margin-top: 14rem;
    padding: 0.6rem 2rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1.2rem;
  }

  #nossaslojas #infocard #infolocation {
    width: 100%;
    margin-top: 0.4rem;
  }

  #nossaslojas #infocard #infolocation img {
    width: 1rem;
    height: 1.6rem;
  }

  #nossaslojas #infocard #infolocation p {
    margin-top: 0rem;
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #infohours {
    margin-top: 6rem;
  }

  #nossaslojas #infocard #infohours h5 {
    font-size: 0.9rem;
  }

  #nossaslojas #infocard #infohours p {
    font-size: 0.8rem;
  }

  #nossaslojas #infocard button {
    margin-top: 1rem;
  }

  #map_container {
    margin-top: -4rem;
    margin-bottom: 6rem;
  }

  #map_container iframe {
    width: 64rem;
  }
}

@media (max-width: 1440px) and (max-height: 790px) {
  #nossaslojas {
    height: 106vh;
  }

  #nossaslojas #infocard {
    height: 24.4rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1.2rem;
  }

  #nossaslojas #infocard #infolocation img {
    width: 1.2rem;
    height: 1.8rem;
  }

  #nossaslojas #infocard #infolocation p {
    margin-top: 0rem;
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #infohours {
    margin-top: 5.2rem;
  }

  #nossaslojas #infocard #infohours h5 {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }

  #nossaslojas #infocard #infohours p {
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #contact div {
    margin-bottom: 0.5rem;
  }

  #nossaslojas #infocard #contact div:last-child {
    margin-bottom: -0.8rem;
  }

  #nossaslojas #infocard #contact p {
    margin-top: 0.2rem;
    font-size: 0.7rem;
  }

  #nossaslojas #infocard button {
    margin-top: 1.8rem;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  #nossaslojas {
    height: 100vh;
  }

  #nossaslojas #nossaslojas_left h1 {
    font-size: 2rem;
  }

  #nossaslojas #infocard {
    height: 22rem;
    margin-top: 13rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1rem;
  }

  #nossaslojas #infohours h5 {
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #contact {
    margin-top: 0.6rem;
  }

  #nossaslojas #infocard #contact div {
    margin-bottom: -0.5rem;
  }

  #nossaslojas #infocard #contact div:last-of-type {
    margin-top: 1rem;
  }

  #map_container {
    margin-top: -2rem;
  }

  #map_container iframe {
    width: 60rem;
  }
}

@media (max-width: 1366px) and (max-height: 660px) {
  #nossaslojas {
    height: 116vh;
  }

  #nossaslojas #infocard {
    padding: 0 1.4rem;
    height: 22rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1.6rem;
  }

  #nossaslojas #infocard #infolocation {
    margin-top: -0.2rem;
  }

  #nossaslojas #infocard #infolocation img {
    width: 1.4rem;
    height: 2rem;
  }

  #nossaslojas #infocard #infolocation p {
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #infohours h5 {
    font-size: 0.8rem;
  }

  #nossaslojas #infocard #infohours p {
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #contact div img {
    width: 1rem;
    height: 1rem;
  }

  #nossaslojas #infocard #contact div p {
    margin-top: 0.1rem;
  }

  #nossaslojas #infocard #contact p {
    font-size: 0.7rem;
  }

  #nossaslojas #infocard button {
    width: 46%;
    height: 2.4rem;
    font-size: 0.8rem;
  }

  #map_container {
    margin-bottom: 8rem;
  }
}

@media (max-width: 1366px) and (max-height: 625px) {
  #nossaslojas {
    height: 122vh;
  }

  #nossaslojas #infocard {
    height: 22rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1.4rem;
  }

  #nossaslojas #infocard #infohours {
    padding-bottom: 4.6rem;
  }

  #nossaslojas #infocard button {
    padding-top: 0.24rem;
    margin-top: 1.8rem;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  #nossaslojas {
    height: 92vh;
    padding: 4rem 12rem;
  }

  #nossaslojas #nossaslojas_left h1 {
    font-size: 1.8rem;
  }

  #nossaslojas #nossaslojas_left .select {
    width: 20rem;
    height: 2.4rem;
    margin-top: 1.4rem;
    font-size: 0.9rem;
    border-radius: 8px;
  }

  #nossaslojas #stores_select::after {
    top: 1.9rem;
    left: 17.6rem;
    font-size: 1.4rem;
  }

  #nossaslojas #nossaslojas_left #img {
    margin-top: 3.6rem;
  }

  #nossaslojas #infocard {
    width: 16rem;
    height: 21rem;
    margin-top: 12rem;
    padding: 0.4rem 2rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1rem;
  }

  #nossaslojas #infocard #infolocation img {
    width: 1.2rem;
    height: 1.6rem;
  }

  #nossaslojas #infocard #infolocation p {
    margin-top: 0;
    font-size: 0.6rem;
  }

  #nossaslojas #infocard #infohours {
    padding-bottom: 1rem;
    margin-top: 7rem;
  }

  #nossaslojas #infocard #infohours h5 {
    margin-top: -1.6rem;
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #infohours p {
    font-size: 0.6rem;
  }

  #nossaslojas #infocard #contact div img {
    width: 1rem;
    height: 1rem;
  }

  #nossaslojas #infocard #contact div p {
    margin-top: 0.1rem;
    font-size: 0.6rem;
  }

  #nossaslojas #infocard button {
    width: 60%;
    height: 2rem;
    margin-top: 1.2rem;
    font-size: 0.7rem;
  }

  #map_container iframe {
    width: 56rem;
  }
}

@media (max-width: 1280px) and (max-height: 610px) {
  #nossaslojas {
    height: 118vh;
  }

  #nossaslojas #infocard #infolocation {
    margin-top: 0.6rem;
  }

  #nossaslojas #infocard #infohours {
    margin-top: 7.2rem;
  }

  #nossaslojas #infocard button {
    margin-top: 2rem;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #nossaslojas {
    height: 82vh;
    padding: 4rem 10rem;
    padding-right: 0;
  }

  #nossaslojas #nossaslojas_left {
    width: 60%;
  }

  #nossaslojas #nossaslojas_left .select {
    width: 16rem;
    height: 2rem;
    padding-left: 1rem;
    font-size: 0.7rem;
  }

  #nossaslojas #nossaslojas_left #img {
    max-width: 100%;
  }

  #nossaslojas #stores_select::after {
    top: 1.9rem;
    left: 14rem;
    font-size: 1rem;
  }

  #nossaslojas #infocard {
    width: 12rem;
    height: 17.6rem;
    margin-top: 11.6rem;
    margin-left: 1.4rem;
    padding: 0rem 1.2rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1rem;
  }

  #nossaslojas #infocard #infolocation {
    margin-top: 0;
  }

  #nossaslojas #infocard #infolocation img {
    width: 1rem;
    height: 1.4rem;
  }

  #nossaslojas #infocard #infolocation p {
    font-size: 0.6rem;
  }

  #nossaslojas #infocard #infohours h5 {
    margin-top: -2rem;
  }

  #nossaslojas #infocard #infohours {
    margin-top: 6.8rem;
  }

  #nossaslojas #infocard #contact {
    margin-top: 0.2rem;
  }

  #nossaslojas #infocard button {
    height: 1.8rem;
    margin-top: 1.4rem;
    padding-top: 0.16rem;
    font-size: 0.6rem;
  }

  #map_container {
    margin-left: 0.8rem;
  }

  #map_container iframe {
    width: 46rem;
    height: 18rem;
  }
}

@media (max-width: 1024px) and (max-height: 610px) {
  #nossaslojas {
    height: 104vh;
  }

  #nossaslojas #infocard {
    margin-top: 12.4rem;
  }

  #nossaslojas #nossaslojas_left #img {
    height: 48vh;
  }
}

@media (orientation: portrait) {
  #nossaslojas_left {
    width: 100% !important;
  }

  #nossaslojas {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: auto;
  }

  #nossaslojas #nossaslojas_left h1 {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  #nossaslojas #stores_select .select {
    width: 100%;
    color: var(--red);
    font-size: 0.8rem;
    font-weight: 500;
  }

  #nossaslojas #stores_select::after {
    top: 2.2rem;
  }

  #nossaslojas #nossaslojas_left #img {
    margin-top: 1rem;
    width: 100%;
    height: 30vh;
  }

  #nossaslojas #nossaslojas_left #img img {
    max-width: 100%;
    height: auto;
  }

  #nossaslojas #infocard {
    display: flex;
    margin: 1rem 0;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  #nossaslojas #infocard button {
    font-size: 0.8rem;
    border-radius: 6px;
  }

  #map_container {
    margin: 0 auto;
    margin-top: -1rem;
    margin-bottom: 2rem;
    padding: 0;
    width: 82%;
    height: 40vh;
  }

  #map_container iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) and (max-height: 860px) {
  #nossaslojas #nossaslojas_left h1 {
    font-size: 1.6rem;
  }

  #nossaslojas #infocard {
    height: 22.4rem;
  }

  #nossaslojas #stores_select .select {
    padding-left: 1rem;
    height: 3rem;
  }

  #nossaslojas #stores_select::after {
    top: 1.6rem;
    left: 23rem;
  }

  #nossaslojas #infocard :is(#infohours, #infolocation, #contact) :is(p) {
    font-size: 0.7rem;
  }

  #nossaslojas #infocard #infohours {
    margin-top: 5.4rem;
    padding-bottom: 5rem;
  }

  #nossaslojas #infocard #contact div img {
    width: 1rem;
    height: 1rem;
  }

  #nossaslojas #infocard button {
    margin-top: 1.4rem;
    width: 30%;
    height: 2.4rem;
    border-radius: 4px;
  }
}

@media (max-width: 420px) and (max-height: 870px) {
  #nossaslojas h1 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  #nossaslojas #stores_select .select {
    padding-left: 1rem;
  }

  #nossaslojas #stores_select::after {
    top: 1.6rem;
    left: 18.6rem;
  }

  #nossaslojas #infocard :is(#infolocation, #infohours, #contact) :is(p) {
    font-size: 0.8rem;
  }

  #nossaslojas #infocard button {
    margin-top: 1.6rem;
    width: 50%;
  }
}

@media (max-width: 420px) and (max-height: 830px) {
  #nossaslojas #stores_select::after {
    left: 18rem;
  }

  #nossaslojas #infocard button {
    width: 8rem;
  }
}

@media (max-width: 420px) and (max-height: 740px) {
  #nossaslojas #stores_select::after {
    top: 2.2rem;
    left: 19rem;
  }

  #nossaslojas #infocard {
    padding: 0.6rem 1.2rem;
    height: 20rem;
  }

  #nossaslojas #infocard h2 {
    font-size: 1.2rem;
  }

  #nossaslojas #infocard #infolocation {
    margin-top: 0;
  }

  #nossaslojas #infocard #infohours {
    padding-bottom: 1rem;
    margin-top: 7rem;
  }

  #nossaslojas #infocard #contact div p {
    font-size: 0.7rem;
  }

  #nossaslojas #infocard button {
    width: 38%;
    margin-top: 2rem;
  }
}

@media (max-width: 400px) and (max-height: 820px) {
  #nossaslojas #stores_select::after {
    left: 16rem;
  }

  #nossaslojas #infocard button {
    width: 40%;
  }
}

@media (max-width: 400px) and (max-height: 740px) {
  #nossaslojas #stores_select::after {
    left: 16rem;
  }

  #nossaslojas #infocard {
    height: 21.6rem;
  }

  #nossaslojas #infocard button {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) and (max-height: 670px) {
  #nossaslojas #infocard {
    height: 20rem;
  }

  #nossaslojas #stores_select .select {
    height: 3rem;
  }

  #nossaslojas #stores_select::after {
    left: 16.4rem;
  }

  #nossaslojas #infocard button {
    margin-top: 2rem;
    width: 40%;
    height: 2.4rem;
    border-radius: 4px;
  }
}

@media (max-width: 400px) and (max-height: 640px) {
  #nossaslojas #infocard {
    height: 21.4rem;
  }

  #nossaslojas #infocard button {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) and (max-height: 568px) {
  #nossaslojas #stores_select::after {
    left: 13.6rem;
  }

  #nossaslojas #infocard {
    height: 21.6rem;
  }

  #nossaslojas #infocard button {
    width: 50%;
    font-size: 0.7rem;
  }
}
