#red {
  color: var(--red);
}

#sucesso {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background-color: var(--gray);
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
}

#message img {
  display: block;
  width: 8rem;
  height: auto;
  background-color: rgb(186, 218, 85, 0.6);
}

#message h1 {
  font-size: 2.6rem;
}

#message p {
  line-height: 1.6rem;
}
