.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

#cartaonovo {
  display: flex;
  width: 100%;
  height: auto;
}

#cartao {
  display: block;
  width: 100%;
  height: 50vh;
  padding: 8rem 18rem;
  color: #fff;
  z-index: 50;
  background-color: var(--yellow);
}

#cartao h1 {
  width: 28rem;
  font-size: 2.8rem;
  text-align: left;
}

#cartaonovo #cartaonovo_inner {
  width: 100%;
  height: 80vh;
  padding: 4rem 18rem;
}

#cartaonovo #cartaonovo_inner h1 {
  color: var(--blue);
}

#cartaonovo #cartaonovo_inner ul li::marker {
  color: var(--blue);
  font-size: 2rem;
}

#cartaonovo #cartaonovo_inner div div:nth-child(2) {
  margin-top: 6rem;
}

#cartaonovo #cartaonovo_inner div div:nth-child(2) ul li {
  font-weight: 600;
  color: var(--blue);
}

#cartaonovo #cartao_img {
  position: relative;
  width: 30rem;
  height: 30rem;
  top: -10rem;
  left: 20rem;
  z-index: 10;
  background-color: yellow;
}
