@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: 60vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 300vw;
  height: 84%;
}

.atendimento_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 150vw;
  height: 84%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-color: #fff;
}

.atendimento_card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  width: 16rem;
  height: 93%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-color: #fff;
}

.atendimento_card h2 {
  color: #000 !important;
  font-weight: 500;
}

.card img {
  display: block;
  max-width: 100%;
}

.card div {
  padding: 0.5rem 1rem;
}

.card div h2 {
  margin-bottom: 1rem;
  color: var(--blue);
  font-size: 1rem !important;
  font-weight: 500;
}

.card div a {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  margin: 0;
  width: 7rem;
  height: 2.4rem;
  font-size: 0.6rem;
  color: #9a9a9a;
  border: 1px solid #9a9a9a;
  border-radius: 6px;
  text-decoration: none;
}

.card div a span {
  display: flex;
  position: relative;
  left: 0.4rem;
  font-size: 1rem;
  color: var(--red);
  font-family: Nanum Gothic, monospace;
}

.selected {
  display: inline-flex;
  /* display: none; */
  flex-direction: row;
  position: relative;
  top: -3rem;
  justify-content: space-between;
  width: 100%;
  height: 0.2rem;
}

.selected a {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  margin-left: 0.4rem;
  width: 33%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.6);
  cursor: pointer;
  scroll-behavior: smooth;
}

.selected a:first-of-type {
  margin-left: 0;
}

.location {
  display: inline-flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 98%;
  border-bottom: 1px solid rgba(143, 146, 161, 0.2);
}

.location img {
  width: 1rem;
  height: 1.4rem;
}

.location p {
  width: 12rem;
  margin-top: -0.2rem;
  margin-left: 0.6rem;
  font-size: 0.8rem;
  font-weight: 400 !important;
}

:is(.personal, .shopping) {
  display: flex;
  flex-direction: column;
}

.personal {
  margin-top: -1rem;
}

:is(.personal, .shopping) h3 {
  font-size: 0.7rem;
}

:is(.personal, .shopping) div {
  display: flex;
  flex-direction: row;
  width: 18rem;
  justify-content: left;
  align-items: center;
  text-align: left;
}

:is(.personal, .shopping) img {
  width: 1.2rem;
  height: 1.2rem;
}

:is(.personal, .shopping) p {
  font-size: 0.7rem !important;
  margin-left: 0.6rem;
}

.card_button {
  align-items: center;
  justify-content: center;
  margin-left: 0.6rem;
  width: 6rem;
  height: 2rem;
  font-size: 0.6rem;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: var(--red);
  border-radius: 8px;
}

#blue {
  background-color: var(--blue);
}

@media (orientation: portrait) {
  .atendimento_card {
    width: 100%;
  }
}

@media (max-width: 480px) and (max-height: 860px) {
  .container {
    height: 44vh;
  }

  #home_container {
    height: 46vh;
  }

  .atendimento_items {
    width: 260vw;
  }

  #home_items {
    width: 250vw;
  }

  .atendimento_card {
    padding: 1rem 2rem;
    height: 90%;
  }

  .atendimento_card h2 {
    font-size: 1.4rem;
  }

  .atendimento_card :is(.location, .personal, .shopping) :is(p) {
    font-size: 0.8rem;
  }

  .atendimento_card .location {
    width: 100%;
  }

  .atendimento_card .card_button {
    padding-top: 0.52rem;
    margin-left: auto;
    margin-right: -3rem;
    width: 10rem;
    font-size: 0.7rem;
  }

  .selected {
    top: -2rem;
    width: 96%;
  }

  #home_selected {
    top: -2.6rem;
  }
}

@media (max-width: 420px) and (max-height: 830px) {
  #atendimento_container {
    margin-top: 1rem;
    height: 38vh;
  }

  #atendimento_container h2 {
    margin-top: 0.6rem;
    font-size: 1.2rem !important;
  }

  #atendimento_container .location {
    padding-bottom: 1rem;
  }

  #atendimento_container .location p {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }

  .atendimento_items {
    height: 89%;
  }

  .atendimento_card {
    padding: 0.6rem 1.4rem;
    height: 100%;
  }

  .atendimento_card .card_button {
    margin-right: -0.6rem;
  }

  .selected {
    width: 98%;
  }
}

@media (max-width: 420px) and (max-height: 740px) {
  .container {
    margin-bottom: -1rem;
    height: 50vh;
  }

  #home_container {
    height: 50.6vh;
  }

  #atendimento_container {
    margin-top: 0;
  }

  .atendimento_card {
    padding: 0.2rem 1.2rem;
  }

  .atendimento_card .location {
    margin-top: 0;
    padding-bottom: 1rem;
  }

  .atendimento_card .card_button {
    margin-right: -1.2rem;
  }

  #home_selected {
    top: -1rem;
  }

  .selected {
    top: -2.6rem;
  }
}

@media (max-width: 400px) and (max-height: 820px) {
  #home_container {
    height: 20.8rem;
  }

  #atendimento_container {
    height: 40vh;
  }

  .atendimento_items {
    width: 80vw;
  }

  .atendimento_card {
    padding: 0.5rem 1.8rem;
    width: 100%;
    height: 100%;
  }

  .atendimento_card .location p {
    font-size: 0.7rem !important;
  }

  .atendimento_card .card_button {
    margin-right: 3rem;
    padding-top: 0.12rem;
    width: 7rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) and (max-height: 740px) {
  #home_container {
    height: 20.4rem;
  }

  #atendimento_container {
    height: 47vh;
  }

  #atendimento_container {
    margin-top: 1rem;
  }

  #atendimento_container .location {
    margin-top: 0.6rem;
    padding-bottom: 0.4rem;
  }

  #atendimento_container .location p {
    font-size: 0.7rem;
  }

  .atendimento_items {
    width: 90vw;
  }

  .atendimento_card {
    width: 90%;
    height: 90%;
  }

  .atendimento_card .card_button {
    padding-top: 0.18rem;
    margin-right: 3rem;
    width: 7rem;
    font-size: 0.7rem;
  }

  .selected {
    width: 100%;
  }
}

@media (max-width: 400px) and (max-height: 670px) {
  .container {
    margin-top: 0 !important;
    margin-bottom: -3rem;
    height: 50vh;
  }

  #home_container {
    height: 51vh;
  }

  .atendimento_items {
    width: 86vw;
  }

  .atendimento_card {
    padding: 0.2rem 1rem;
  }

  .atendimento_card h2 {
    font-size: 1rem;
  }

  .atendimento_card .location {
    margin: 0.8rem 0;
    padding-bottom: 1rem;
    width: 98%;
  }

  .atendimento_card .location p {
    font-size: 0.7rem !important;
  }

  .atendimento_card .personal {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .atendimento_card .personal {
    margin-top: -1rem;
  }

  .atendimento_card .personal div {
    margin-top: -0.4rem;
  }

  .atendimento_card .shopping {
    margin-top: -1rem;
  }

  .atendimento_card .card_button {
    padding-top: 0.68rem;
    margin-right: 0.4rem;
    width: 8rem;
    font-size: 0.6rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .selected {
    top: -1.6rem;
  }

  #home_selected {
    top: 0;
  }
}

@media (max-width: 400px) and (max-height: 568px) {
  .atendimento_card {
    padding: 0 1rem;
  }

  #home_container {
    height: 54vh;
  }

  #atendimento_container {
    margin-top: 1rem !important;
    margin-bottom: 1rem;
    height: 48vh;
  }

  .atendimento_items {
    width: 90vw;
    height: 92%;
  }

  .atendimento_card .location {
    padding-bottom: 1rem !important;
    width: 100%;
  }

  .atendimento_card .location p {
    font-size: 0.7rem !important;
  }

  .atendimento_card .personal {
    margin-top: -0.6rem !important;
  }

  .atendimento_card .shopping {
    margin-top: -1rem !important;
  }

  .atendimento_card .card_button {
    padding-top: 0.18rem;
    margin-right: 3.8rem;
    width: 5.4rem !important;
    font-size: 0.6rem;
  }

  .selected {
    width: 100%;
    top: -1.6rem;
  }

  #home_selected {
    top: 0rem;
  }
}
