.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  text-align: center;
  width: 16rem;
  height: 4rem;
  margin-top: 0.6rem;
  padding-top: 1.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background-color: var(--red);
  border-radius: 0.46rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(141, 0, 12, 0.9);
}

#m_left {
  margin-left: 2rem;
}

#cadastro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 6rem 18rem;
}

#cadastro h1 {
  font-size: 2rem;
}

#cadastro #radio {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

#cadastro #radio div:nth-child(2) {
  margin-left: 2rem;
}

#cadastro form {
  width: 70%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#cadastro form label {
  font-weight: 600;
}

#cadastro form input {
  width: 20rem;
  height: 2.8rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #e4e4e4;
}

#cadastro #politics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.8rem;
  margin-top: 0.8rem;
  margin-bottom: 1.8rem;
}

#cadastro a {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

/* aiming for 2560px width */
@media (min-width: 2200px) and (max-height: 1440px) {
  #cadastro {
    padding: 8rem 24rem;
  }

  #cadastro h1 {
    font-size: 3.8rem;
  }

  #cadastro #radio div input {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
  }

  #cadastro #radio div:last-of-type input {
    margin-left: 4rem;
  }

  #cadastro #radio div {
    font-size: 1.8rem;
  }

  #cadastro form label {
    font-size: 1.6rem;
  }

  #cadastro form div input {
    width: 40rem;
    height: 5rem;
    border-radius: 12px;
  }

  #cadastro #politics div input {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
  }

  #cadastro #politics div:last-of-type {
    margin-top: 1rem;
  }

  #cadastro #politics div {
    font-size: 1.8rem;
  }

  #cadastro .button {
    width: 20rem;
    height: 5rem;
    margin-top: 4rem;
    padding-top: 1.34rem;
    font-size: 1.8rem;
    border-radius: 16px;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  #cadastro {
    padding: 6rem 14rem;
  }

  #cadastro a {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  #cadastro {
    padding: 6rem 13rem;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  #cadastro {
    padding: 6rem 12rem;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #cadastro {
    padding: 4rem 10rem;
  }
}

@media (orientation: portrait) {
  #cadastro {
    height: auto;
  }

  #cadastro #radio {
    margin: 0;
    flex-direction: column;
  }

  #cadastro #radio div {
    color: #9a9a9a;
    font-weight: 500;
  }

  #cadastro #radio div:last-of-type {
    margin-top: 0.8rem;
    margin-left: 0;
  }

  #cadastro form {
    width: 100%;
  }

  #cadastro form div {
    flex-direction: column;
  }

  #cadastro form #m_left {
    margin-left: 0;
  }

  #cadastro #politics {
    margin-top: -1.2rem;
  }

  #cadastro #politics div {
    color: #9a9a9a;
    font-size: 0.8rem;
    font-weight: 500;
  }

  #cadastro #politics div:last-of-type {
    margin-top: 0.8rem;
  }
}

@media (max-width: 400px) and (max-height: 670px) {
  #cadastro {
    padding: 1rem 2rem;
  }

  #cadastro h1 {
    font-size: 1.4rem;
  }

  #cadastro #radio div {
    font-size: 0.8rem;
  }

  #cadastro form label {
    font-size: 0.8rem;
  }

  #cadastro form input {
    width: 100%;
  }

  #cadastro .button {
    padding-top: 0.8rem;
    width: 8rem;
    height: 2.4rem;
    font-size: 0.8rem;
    border-radius: 4px;
  }
}
