#footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 34vh;
  padding: 7.4rem 16rem;
  background-color: var(--blue);
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#footer #logo {
  width: 16rem;
  height: 6rem;
  margin-top: -6.2rem;
  margin-left: -2rem;
}

#footer #logo img {
  min-width: 100%;
  height: auto;
}

#footer #footer_nav {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: auto;
  margin-top: -4rem;
  margin-left: -8rem;
  margin-right: 3rem;
  padding: 0 2rem;
  color: #fff;
}

#footer #footer_nav div {
  width: 18rem;
  height: 10rem;
  margin: 0 auto;
  margin-left: 8rem;
  margin-right: -4rem;
  font-size: 80%;
  border-right: 1px solid rgba(69, 69, 69, 0.4);
}

#footer #footer_nav div:last-of-type {
  border: 0;
}

#footer #footer_nav a {
  text-decoration: none;
  color: #fff;
  margin-top: 1rem;
}

#footer #pagamento {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: -11rem;
  margin-left: 2rem;
}

#footer #newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 22rem;
  height: 14rem;
  border-radius: 16px;
  background-color: var(--yellow);
}

#footer #newsletter h4 {
  font-weight: 600;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  margin-left: -3rem;
  font-size: 1.4rem;
}

.button {
  display: inline-block;
  text-align: center;
  width: 16rem;
  height: 4rem;
  margin-top: 0.6rem;
  padding-top: 1.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--red);
  border-radius: 0.46rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(141, 0, 12, 0.9);
}

#footer #formas_pagamento img {
  width: 100%;
}

#footer #formas_pagamento {
  width: 22.6rem;
  margin-top: 1rem;
  color: #fff;
}

#footer #social {
  display: inline-flex;
  flex-direction: row;
  justify-self: center;
  align-content: center;
  width: 100vw;
  height: 5rem;
  margin-top: 2rem;
  margin-left: -16rem;
  padding-left: 18rem;
  color: #fff;
  background-color: #1a4f90;
}

#footer #social #social_icons {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  width: 40rem;
}

#footer #social #social_icons h4 {
  font-size: 1.4rem;
}

#footer #social #social_icons a:first-of-type {
  margin-left: 6rem;
}

#footer #social #social_icons a {
  align-self: center;
  margin-left: 2rem;
  cursor: pointer;
}

#footer #social #social_icons a:last-child {
  margin-top: 0.1rem;
}

#footer #copyright {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: #454545;
}

#footer #copyright h4 {
  padding-left: 2rem;
}

#footer #copyright img {
  height: 3rem;
  margin-left: auto;
  margin-right: 1.2rem;
}

/* Aiming to 2560px width */
@media (min-width: 2200px) and (min-height: 1440px) {
  #footer #logo {
    width: 20rem;
    margin-top: -4rem;
    margin-left: 3rem;
    margin-right: -4rem;
  }

  #footer #footer_nav {
    margin-top: 0rem;
  }

  #footer #footer_nav div {
    width: 18rem;
    height: 15rem;
    margin-top: -1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }

  #footer #footer_nav h3 {
    font-size: 1.6rem;
  }

  #footer #footer_nav a {
    font-size: 1.2rem;
  }

  #footer #pagamento {
    margin-left: -16.4rem !important;
  }

  #footer #newsletter {
    width: 30rem;
    height: 18rem;
    margin-bottom: 2rem;
  }

  #footer #newsletter h4 {
    font-size: 1.8rem;
  }

  #footer #newsletter .button {
    width: 20rem;
    padding-top: 0.86rem;
    font-size: 1.8rem;
  }

  #footer #formas_pagamento {
    width: 30rem;
  }

  #footer #formas_pagamento h4 {
    font-size: 1.2rem;
  }

  #footer #social {
    margin-top: 4rem !important;
    padding-left: 24rem;
  }

  #footer #copyright {
    padding-left: 6rem;
  }

  #footer #copyright img {
    margin-right: 8rem !important;
  }
}

@media (min-width: 2200px) and (min-width: 1080px) {
  #footer #logo {
    width: 20rem;
    margin-left: 3rem;
  }

  #footer #footer_nav {
    margin-left: 8rem;
  }

  #footer #footer_nav div {
    width: 13rem;
    height: 13.6rem;
    margin-right: 0;
    margin-left: 4rem;
  }

  #footer #footer_nav h3 {
    font-size: 1.3rem;
  }

  #footer #footer_nav a {
    font-size: 1rem;
  }

  #footer #pagamento {
    margin-left: -12rem;
  }

  #footer #social {
    margin-top: 2rem;
    padding-left: 24rem;
  }

  #footer #copyright {
    padding-left: 6em;
  }

  #footer #copyright img {
    margin-right: 6rem;
  }
}

@media (max-width: 1920px) and (max-height: 970px) {
  #footer {
    height: 40vh;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  #footer {
    height: 30vh;
    padding: 9rem 4rem;
  }

  #footer #logo {
    margin-left: 5rem;
    margin-top: -8rem;
    margin-right: 4rem;
  }

  #footer #footer_nav {
    width: 40rem;
    margin-top: -5.8rem;
    margin-right: -2rem;
  }

  #footer #footer_nav div {
    margin-left: 2rem;
    margin-right: 0;
  }

  #footer #newsletter {
    width: 15.6rem;
    height: 10rem;
  }

  #footer #newsletter h4 {
    font-size: 1rem;
  }

  #footer #newsletter .button {
    width: 12rem;
    height: 2.6rem;
    padding-top: 0.72rem;
    font-size: 1rem;
  }

  #footer #formas_pagamento {
    width: 15.8rem;
  }

  #footer #formas_pagamento h4 {
    font-size: 0.8rem;
  }

  #footer #social {
    width: 114.2vw;
    padding-left: 25rem;
  }

  #footer #social #social_icons h4 {
    font-size: 1rem;
  }

  #footer #copyright {
    font-size: 0.7rem;
    padding-left: 7rem;
  }

  #footer #copyright img {
    height: 1.6rem;
    margin-right: 9rem;
  }
}

@media (max-width: 1366px) and (max-height: 770px) {
  #footer #logo {
    width: 10rem;
    margin-left: 6rem;
  }

  #footer #footer_nav {
    margin-top: -7rem;
  }

  #footer #footer_nav h3 {
    font-size: 1rem;
  }

  #footer #footer_nav a {
    font-size: 0.7rem;
  }

  #footer #copyright img {
    margin-right: 9.4rem;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  #footer {
    padding-left: 0;
  }

  #footer #logo {
    width: 9rem;
    margin-left: 9.4rem;
  }

  #footer #footer_nav {
    margin-top: -7rem;
  }

  #footer #footer_nav div {
    height: 9rem;
  }

  #footer #footer_nav h3 {
    font-size: 0.8rem;
  }

  #footer #footer_nav a {
    font-size: 0.6rem;
  }

  #footer #newsletter {
    width: 13.8rem;
    height: 8rem;
  }

  #footer #newsletter h4 {
    font-size: 0.8rem;
  }

  #footer #newsletter .button {
    width: 10rem;
    height: 2rem;
    padding-top: 0.58rem;
    font-size: 0.8rem;
  }

  #footer #formas_pagamento {
    width: 14rem;
  }

  #footer #formas_pagamento h4 {
    font-size: 0.6rem;
  }

  #footer #social {
    width: 120vw;
    margin-top: 4rem;
    padding-left: 27.6rem;
  }

  #footer #social #social_icons h4 {
    font-size: 0.8rem;
  }

  #footer #copyright {
    padding-left: 9.58rem;
    font-size: 0.6rem;
  }

  #footer #copyright img {
    margin-right: 7.8rem;
  }
}

@media (max-width: 1280px) and (max-height: 610px) {
  #footer {
    padding-left: 0;
  }

  #footer #social {
    width: 120vw;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #footer {
    height: 20vh;
    padding-left: 0;
  }

  #footer #logo {
    min-width: 10rem;
    margin-top: -7.2rem;
    margin-left: 6.6rem;
  }

  #footer #footer_nav {
    width: 34rem;
    margin-top: -6rem;
    margin-left: -6.8rem;
  }

  #footer #footer_nav div {
    height: 8.4rem;
    margin-left: 0rem;
    margin-right: 2rem;
  }

  #footer #footer_nav h3 {
    font-size: 0.7rem;
  }

  #footer #footer_nav a {
    font-size: 0.5rem;
  }

  #footer #pagamento {
    margin-left: -2rem;
  }

  #footer #newsletter {
    width: 12rem;
    height: 8rem;
  }

  #footer #newsletter h4 {
    font-size: 0.8rem;
    margin-left: 0;
  }

  #footer #newsletter .button {
    width: 7.4rem;
    height: 2rem;
    padding-top: 0.56rem;
    font-size: 0.7rem;
  }

  #footer #formas_pagamento {
    width: 12rem;
  }

  #footer #formas_pagamento h4 {
    font-size: 0.6rem;
  }

  #footer #social {
    width: 125vw;
    padding-left: 25rem;
  }

  #footer #social h4 {
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }

  #footer #copyright {
    padding-left: 7rem;
    font-size: 0.6rem;
  }

  #footer #copyright img {
    margin-right: 4rem;
  }
}

@media (max-width: 1024px) and (max-height: 610px) {
  #footer #social {
    margin-top: 4rem;
  }
}

@media (orientation: portrait) {
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  #footer #newsletter {
    display: flex;
    margin-top: 1rem;
    padding: 0;
    width: 86%;
    height: 6rem;
    border-radius: 8px;
  }

  #footer #newsletter h4 {
    text-align: center;
    align-self: center;
    margin-top: 0.2rem;
    width: 90%;
    font-size: 0.9rem;
    color: #000;
    font-weight: 500;
  }

  #footer #newsletter .button {
    margin-top: 0.1rem;
    width: 9rem;
    border-radius: 8px;
  }

  #footer #footer_nav {
    width: 90%;
    height: auto;
    margin: 2rem auto;
    padding: 0;
  }

  #footer #footer_nav div {
    margin: 0;
    margin-left: 0.8rem;
    padding: 0;
    height: auto;
  }

  #footer #footer_nav h3 {
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0;
  }

  #footer #footer_nav a:first-of-type {
    margin-top: 0.8rem;
  }

  #footer #footer_nav a {
    margin-bottom: -0.6rem;
    font-size: 0.6rem;
  }

  #footer #formas_pagamento {
    margin-top: -1rem;
    margin-bottom: 1rem;
    padding: 0;
    width: 82%;
  }

  #footer #formas_pagamento h4 {
    font-size: 0.7rem;
  }

  #footer #social {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3rem;
  }

  #footer #social #social_icons {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    max-width: 82%;
  }

  #footer #social #social_icons h4 {
    padding: 0;
    margin-right: auto;
    margin-left: 0.6rem;
    width: 40rem;
    font-size: 0.7rem;
  }

  #footer #social #social_icons a:first-of-type {
    margin-left: -2rem;
    width: 1.8rem;
  }

  #footer #social #social_icons a {
    padding: 0;
    margin-left: 1rem;
    width: 3rem;
    height: auto;
  }

  #footer #social #social_icons a:last-of-type {
    margin-top: -0.2rem;
  }

  #footer #social #social_icons a img {
    width: 100%;
    height: auto;
  }

  #footer #copyright {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2rem;
    background-color: #fff;
  }

  #footer #copyright h4 {
    font-size: 0.4rem;
    font-weight: 500;
  }

  #footer #copyright img {
    width: 4.8rem;
    margin-right: 1.8rem;
  }
}

@media (max-width: 480px) and (max-height: 860px) {
  #footer #newsletter h4 {
    margin-left: 0;
  }

  #footer #copyright h4 {
    padding-left: 2.6rem;
  }

  #footer #copyright img {
    margin-right: 2.6rem;
  }
}

@media (max-width: 420px) and (max-height: 870px) {
  #footer #newsletter h4 {
    margin: 0;
    margin-bottom: .6rem;
    width: 100%;
  }

  #footer #newsletter .button {
    padding-top: .76rem;
    font-size: .8rem;
  }
}

@media (max-width: 420px) and (max-height: 840px) {
  #footer #newsletter .button {
    padding-top: 0.78rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) and (max-height: 820px) {
  #footer #newsletter .button {
    padding-top: 0.84rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) and (max-height: 740px) {
  #footer #newsletter .button {
    padding-top: 0.56rem;
  }
}

@media (max-width: 400px) and (max-height: 640px) {
  #footer #newsletter .button {
    padding-top: 0.56rem;
  }
}

@media (max-width: 400px) and (max-height: 568px) {
  #footer #newsletter .button {
    padding-top: 0.54rem;
    font-size: 0.8rem;
  }
}
