@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

#noticias {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 6rem 18rem;
}

#noticias h1 {
  font-size: 2.8rem;
}

#noticias .news_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  color: #cccccc;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

#noticias #single_body {
  height: auto !important;
  border: none;
}

#noticias .news_body .news_img {
  display: flex;
  min-width: 100%;
  width: 100%;
  height: 22rem;
  object-fit: cover;
  justify-self: stretch;
}

#noticias .social {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: auto;
  margin-top: 1rem;
  margin-left: auto;
  font-weight: 600;
  color: #cccccc;
}

#noticias .social a {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.2rem;
  margin-left: 1.4rem;
  cursor: pointer;
}

#noticias .social a:first-child {
  width: 0.8rem;
  height: 0.8rem;
}

#noticias .social a:nth-child(3),
#noticias .social a:nth-child(4) {
  margin-top: 0.01rem;
}

#noticias .social a img {
  width: 100%;
}

#noticias .news_body .news_info h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--blue);
}

#noticias .news_body .news_info p {
  width: 70%;
  line-height: 1.4rem;
  margin-top: 1.4rem;
}

#noticias .news_body .news_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
  padding-right: 0.6rem;
  color: #adadad;
  text-align: center;
  text-decoration: none;
  border: 2px solid #cccccc;
  border-radius: 8px;
}

#noticias .news_body a.news_btn:focus,
#noticias .news_body a.news_btn:hover {
  color: var(--red);
  outline-color: var(--red);
  border: 1px solid var(--red);
}

#noticias .news_body .news_btn span {
  position: relative;
  top: -0.1rem;
  left: 0.6rem;
  color: var(--red);
  font-size: 1.4rem;
  font-family: Nanum Gothic, sans-serif;
}

#noticias #pagination {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: auto;
  margin-right: -4rem;
}

#noticias #pagination ul {
  display: flex;
  justify-content: space-between;
  width: 28rem;
  list-style: none;
}

#noticias #pagination ul li a {
  font-weight: 600;
  text-decoration: none;
  color: #cccccc;
}

#noticias #pagination ul li a:active,
#noticias #pagination ul li a:focus {
  color: var(--red);
}

/* aiming to 2560px width */
@media (min-width: 2200px) and (max-height: 1440px) {
  #noticias {
    padding: 8rem 25rem;
  }

  #noticias h1 {
    font-size: 3.2em;
  }

  #noticias .news_body {
    height: 68rem;
  }

  #noticias .news_body .news_img {
    height: 30rem;
  }

  #noticias .news_body .social {
    font-size: 1.4rem;
  }

  #noticias .news_body .social a {
    width: 3rem;
    height: 3rem;
    margin-top: 0.2rem;
  }

  #noticias .news_body .social a:first-child {
    width: 1.5rem;
    height: 1.5rem;
  }

  #noticias .social a:nth-child(3),
  #noticias .social a:nth-child(4) {
    margin-top: 0.14rem;
  }

  #noticias .news_body .news_info h2 {
    font-size: 3.2rem;
  }

  #noticias .news_body .news_info p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  #noticias .news_body .news_btn {
    width: 14rem;
    height: 4.6rem;
    margin-top: 3rem;
    padding-top: 1.16rem;
    padding-right: 1rem;
    border-radius: 16px;
    font-size: 1.6rem;
  }

  #noticias .news_body .news_btn span {
    left: 1rem;
    font-size: 2rem;
  }

  #noticias #pagination {
    width: 50rem;
    margin-bottom: 6rem;
    font-size: 2rem;
  }

  #noticias #pagination a {
    margin-left: 3rem;
  }
}

@media (max-width: 1920px) and (max-height: 970px) {
  #noticias #pagination {
    margin-right: 0rem;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  #noticias {
    padding: 6rem 14rem;
  }

  #noticias h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  #noticias h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  #noticias {
    padding: 4rem 12rem;
  }

  #noticias h1 {
    font-size: 1.8rem;
  }

  #noticias .social {
    font-size: 0.8rem;
  }

  #noticias .social a {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
  }

  #noticias .social a:first-child {
    width: 0.5rem;
    height: 0.5rem;
  }

  #noticias .social a:nth-child(3),
  #noticias .social a:nth-child(4) {
    margin-top: 0.1rem;
  }

  #noticias .news_body .news_info h2 {
    font-size: 1.6rem;
  }

  #noticias .news_body .news_info p {
    font-size: 0.8rem;
  }

  #noticias .news_body .news_info p:last-child {
    margin-bottom: 1rem;
  }

  #noticias .news_body .news_btn {
    padding-top: 0.9rem;
  }

  #noticias #pagination {
    margin-top: -4rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1280px) and (max-height: 610px) {
  #noticias .news_body .news_btn {
    padding-top: 0.78rem;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #noticias {
    padding: 4rem 10rem;
  }

  #noticias .social {
    margin-right: -5rem;
  }

  #noticias #pagination ul {
    width: 22rem;
  }
}

@media (orientation: portrait) {
  #noticias {
    height: auto;
  }

  #noticias #social {
    display: none;
  }

  #noticias .news_body {
    height: auto;
  }

  #noticias #pagination {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 480px) and (max-height: 860px) {
  #noticias {
    padding: 1rem 2rem;
  }

  #noticias h1 {
    font-size: 1.4rem;
  }

  #noticias .news_body .news_img {
    margin-top: -1.6rem;
    height: 40vh;
  }

  #noticias .news_body .news_info p {
    color: #9a9a9a;
    font-weight: 500;
  }

  #noticias .news_body .news_info p:first-of-type {
    margin-top: 2rem;
    width: 100%;
    font-size: 0.6rem;
  }

  #noticias .news_body .news_info h2 {
    margin: 0;
    font-size: 1.2rem;
  }

  #noticias .news_body .news_info p:last-child {
    padding: 0;
    margin: 1rem 0;
    width: 100%;
    max-height: 30vh;
    overflow: hidden;
  }

  #noticias .news_body .news_btn {
    margin: 1rem 0;
    margin-bottom: 2rem;
    padding-top: 0rem;
    width: 7rem;
    height: 2.4rem;
    font-size: 0.8rem;
  }

  #noticias .news_body .news_btn span {
    top: 0.1rem;
    left: 0.8rem;
    font-size: 1rem;
  }

  #noticias #pagination {
    margin-top: -5rem;
    margin-left: -2.6rem;
  }

  #noticias .social {
    margin-right: -2rem;
  }
}

@media (max-width: 420px) and (max-height: 870px) {
  #noticias {
    padding: 1rem 2rem;
  }

  #noticias h1 {
    font-size: 1.4rem;
  }

  #noticias .news_body .news_img {
    margin-top: -1.6rem;
    height: 24vh;
  }

  #noticias .news_body .news_info p {
    color: #9a9a9a;
    font-size: 0.8rem;
    font-weight: 500;
  }

  #noticias .news_body .news_info p:first-of-type {
    margin-top: 2rem;
    width: 100%;
    font-size: 0.6rem;
  }

  #noticias .news_body .news_info h2 {
    margin: 0;
    font-size: 1.2rem;
  }

  #noticias .news_body .news_info p:last-child {
    padding: 0;
    margin: 1rem 0;
    width: 100%;
    max-height: 30vh;
    overflow: hidden;
  }

  #noticias .news_body .news_btn {
    margin: 1rem 0;
    margin-bottom: 2rem;
    padding-top: 0rem;
    width: 7rem;
    height: 2.4rem;
    font-size: 0.8rem;
  }

  #noticias .news_body .news_btn span {
    top: 0.1rem;
    left: 0.8rem;
    font-size: 1rem;
  }

  #noticias #pagination {
    margin-top: -5rem;
    margin-left: -2.6rem;
  }

  #noticias .social {
    margin-right: -5rem;
    font-size: 0.8rem;
  }

  #noticias .social a:first-child {
    width: 0.6rem;
    height: 1rem;
  }

  #noticias .social a {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 420px) and (max-height: 830px) {
  #noticias .news_body .news_info p:first-of-type {
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
  }

  #noticias .news_body .news_img {
    height: 26vh;
  }

  #noticias .news_body .news_btn span {
    top: 0;
  }
}

@media (max-width: 420px) and (max-height: 740px) {
  #noticias h1 {
    font-size: 1.6rem;
  }

  #noticias .news_body .news_btn span {
    top: 0;
  }

  #noticias #pagination {
    margin-left: -1.3rem;
  }

  #noticias .social {
    margin-right: -5.4rem;
  }
}

@media (max-width: 400px) and (max-height: 820px) {
  #noticias .news_body .news_img {
    height: 20vh;
  }

  #noticias .news_body .news_btn span {
    top: 0;
  }
}

@media (max-width: 400px) and (max-height: 670px) {
  #noticias #pagination {
    margin-right: 1rem;
  }
}
