.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: inline-block;
  text-align: center;
  width: 16rem;
  height: 4rem;
  margin-top: 0.6rem;
  padding-top: 1.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: var(--red);
  border-radius: 0.46rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(141, 0, 12, 0.9);
}

#m_bot {
  margin-bottom: 1.3rem;
}

#contato {
  width: 100%;
  height: 104vh;
  padding: 6rem 18rem;
  background-color: var(--gray);
}

#contato h1 {
  font-size: 2.8rem;
}

#contato p {
  width: 60rem;
  margin-top: 1rem;
  line-height: 1.8rem;
}

#contato form {
  width: 58rem;
  height: 40rem;
}

#contato form .form_input {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  margin-top: 2rem;
}

#contato form #m_left {
  margin-left: 4rem;
}

#contato form .form_input label {
  font-weight: 600;
}

#contato form .form_input input {
  width: auto;
  height: 3.4rem;
  margin-top: 0.8rem;
  padding-left: 1rem;
  font-family: montserrat, sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #e6e6e6;
}

#contato form .form_input textarea {
  width: 58rem;
  height: 20rem;
  margin-top: 0.8rem;
  padding-top: 0.8rem;
  padding-left: 1rem;
  font-family: montserrat, sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #e6e6e6;
  resize: none;
}

#trabalheconosco {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  padding: 6rem 18rem;
  color: #fff;
  background-image: url("../../assets/img/teste1blue.jpg");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: left center;
}

#trabalheconosco h1 {
  font-size: 2.8rem;
}

#trabalheconosco p {
  width: 60rem;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

#trabalheconosco form {
  width: 58rem;
  height: 40rem;
}

#trabalheconosco form label {
  margin-top: 1rem;
  font-weight: 600;
}

#trabalheconosco form input {
  width: 26rem;
  height: 3.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  font-family: montserrat, sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #e6e6e6;
}

#trabalheconosco form p {
  font-weight: 600;
}

#cvTitle {
  margin-bottom: 1.6rem;
}

#trabalheconosco form [type="file"] {
  display: inline-block;
  appearance: none;
  display: none;
  opacity: 0;
}

#trabalheconosco form label#input_file {
  width: 26rem;
  height: 3.4rem;
  margin-top: -0.4rem;
  margin-bottom: 2.5rem;
  padding-top: 0.7rem;
  text-align: center;
  color: #fff;
  font-size: 1.26rem;
  border: 2px solid #cccccc;
  border-radius: 8px;
  background-color: transparent;
}

#trabalheconosco form #m_left {
  margin-left: 4rem;
}

#trabalheconosco #help {
  width: 12rem;
  height: 4rem;
  margin-top: 4rem;
  margin-right: 15.2rem;
  cursor: pointer;
}

#trabalheconosco #help img {
  width: 2rem;
  height: 2rem;
}

#trabalheconosco #help p {
  margin-top: 0.2rem;
  margin-left: 1rem;
}

#trabalheconosco #help_msg {
  display: flex;
  position: absolute;
  top: 8rem;
  max-width: 18rem;
  max-height: 6rem;
  padding: 1rem;
  text-align: center;
  border-radius: 16px;
  background-color: var(--yellow);
}

#trabalheconosco #help_msg p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}

/* aiming for 2560px width */
@media (min-width: 2200px) and (max-height: 1440px) {
  #contato {
    height: 86vh;
    padding: 6rem 24.8rem;
  }

  #contato h1 {
    font-size: 3.2rem;
  }

  #contato p {
    width: 80%;
    font-size: 1.4rem;
  }

  #contato form {
    width: 80rem;
    height: 44rem;
  }

  #contato form label {
    font-size: 1.4rem;
  }

  #contato form .form_input input {
    height: 4rem;
    font-size: 1.6rem;
    border-radius: 14px;
  }

  #contato form .form_input textarea {
    width: 80rem;
  }

  .button {
    width: 24rem;
    height: 5rem;
    padding-top: 1.4rem;
    font-size: 2rem;
    border-radius: 14px;
  }

  #trabalheconosco {
    height: 78vh;
    background-size: cover;
    padding: 6rem 24.8rem;
  }

  #trabalheconosco h1 {
    font-size: 3.2rem;
  }

  #trabalheconosco p {
    font-size: 1.4rem;
    margin-top: 0;
  }

  #trabalheconosco form {
    width: 80rem;
    height: 44rem;
  }

  #trabalheconosco form label {
    font-size: 1.4rem;
  }

  #trabalheconosco form .form_input {
    display: flex;
    flex-direction: column;
  }

  #trabalheconosco form .form_input input {
    width: 40rem;
    height: 4rem;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    border-radius: 14px;
  }

  #cvTitle {
    margin-bottom: 1.4rem;
  }

  #trabalheconosco form label#input_file {
    width: 40rem;
    height: 4rem;
    font-size: 1.8rem;
  }

  #trabalheconosco form #help {
    width: 20rem;
    margin-top: 4.2rem;
    margin-left: 2rem;
  }

  #trabalheconosco form #help img {
    width: 3rem;
    height: 3rem;
  }

  #trabalheconosco form #help p {
    margin-top: 0.66rem;
    margin-left: 2rem;
    font-size: 1.6rem;
  }

  #trabalheconosco #help_msg {
    max-width: 22rem;
    max-height: 10rem;
    top: 10.4rem;
    left: 2rem;
  }

  #trabalheconosco #help_msg p {
    font-size: 1.2rem;
  }
}

/* aiming for 2560px width */
@media (min-width: 2200px) and (max-height: 1080px) {
  #contato {
    height: 114vh;
  }

  #trabalheconosco {
    height: 108vh;
  }
}

@media (max-width: 1920px) and (max-height: 970px) {
  #contato {
    height: 120vh;
  }

  #trabalheconosco {
    height: 106vh;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  #contato {
    height: 116vh;
    padding: 4rem 13.6rem;
  }

  #contato h1,
  #trabalheconosco h1 {
    font-size: 2.4rem;
  }

  #trabalheconosco {
    height: 102vh;
    padding: 4rem 13.6rem;
  }
}

@media (max-width: 1440px) and (max-height: 789px) {
  #contato {
    height: 132vh;
  }

  #trabalheconosco {
    height: 116vh;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  #contato {
    height: 102vh;
    padding: 4rem 13rem;
  }

  #contato h1,
  #trabalheconosco h1 {
    font-size: 2rem;
  }

  #contato p,
  #trabalheconosco p {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  #contato form {
    width: 40rem;
    height: 27rem;
  }

  #contato .form_input,
  #trabalheconosco .form_input {
    display: flex;
    flex-direction: column;
  }

  #contato .form_input label,
  #trabalheconosco .form_input label,
  #cvTitle {
    font-size: 0.7rem;
  }

  #contato form .form_input input,
  #trabalheconosco form .form_input input {
    width: 18rem;
    height: 2.4rem;
    font-size: 1rem;
  }

  #contato form .form_input textarea {
    width: 40rem;
    height: 10rem;
  }

  #trabalheconosco {
    height: 110vh;
    padding: 4rem 13rem;
  }

  #trabalheconosco form {
    width: 3rem;
  }

  #trabalheconosco form label#input_file {
    width: 18rem;
    height: 2.4rem;
    margin-top: -0.8rem;
    font-size: 0.8rem;
  }

  #trabalheconosco #help {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    margin-left: 3.8rem;
  }

  #trabalheconosco #help img {
    width: 1.5rem;
    height: 1.5rem;
  }

  #trabalheconosco #help p {
    margin-top: 1.8rem;
  }

  #trabalheconosco #help_msg {
    max-width: 12rem;
    max-height: 4.8rem;
    top: 6rem;
    left: 4rem;
  }

  #trabalheconosco #help_msg p {
    font-size: 0.7rem;
  }

  .button {
    width: 14rem;
    height: 3.2rem;
    padding-top: 0.8rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 1366px) and (max-height: 659px) {
  #contato {
    height: 120vh;
    padding: 4rem 13.6rem;
  }

  #trabalheconosco {
    height: 126vh;
    padding: 4rem 13.6rem;
  }
}

@media (max-width: 1366px) and (max-height: 625px) {
  #contato {
    height: 124vh;
    padding: 4rem 13rem;
  }

  #trabalheconosco {
    height: 134vh;
    padding: 4rem 13rem;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  .button {
    width: 12rem;
    height: 3rem;
    padding-top: 0.96rem;
    font-size: 1rem;
  }

  #contato {
    height: 94vh;
    padding: 3.6rem 12rem;
  }

  #contato h1 {
    font-size: 1.8rem;
  }

  #contato p {
    width: 68%;
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

  #contato form {
    width: 40rem;
    height: 28rem;
  }

  #contato form .form_input label {
    font-size: 0.8rem;
  }

  #contato form .form_input input {
    height: 2.4rem;
    margin-top: 0.6rem;
  }

  #contato form .form_input textarea {
    width: 40rem;
    height: 10rem;
  }

  #trabalheconosco {
    height: 88vh;
    padding: 3.6rem 12rem;
  }

  #trabalheconosco h1 {
    font-size: 1.8rem;
  }

  #trabalheconosco p {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

  #trabalheconosco form {
    width: 40rem;
    height: 28rem;
  }

  #trabalheconosco form .form_input {
    display: flex;
    flex-direction: column;
    width: 18rem;
  }

  #trabalheconosco form .form_input label {
    font-size: 0.8rem;
  }

  #trabalheconosco form .form_input input {
    width: auto;
    height: 2.4rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
  }

  #cvTitle {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }

  #trabalheconosco form label#input_file {
    width: 18rem;
    height: 2.6rem;
    padding-top: 0.8rem;
    font-size: 0.8rem;
  }

  #trabalheconosco form #help {
    margin-top: 2.8rem;
    margin-right: 6rem;
  }

  #trabalheconosco form #help p {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }

  #trabalheconosco #help_msg {
    max-width: 12rem;
    max-height: 4.8rem;
    top: 7rem;
    left: 0rem;
  }

  #trabalheconosco #help_msg p {
    font-size: 0.6rem;
  }
}

@media (max-width: 1280px) and (max-height: 610px) {
  #contato {
    height: 124vh;
  }

  #trabalheconosco {
    height: 120vh;
  }

  #trabalheconosco form {
    height: 36rem;
  }

  #cvTitle {
    margin-bottom: 1.4rem;
  }

  #trabalheconosco form #help {
    margin-top: 1.8rem;
  }

  #trabalheconosco form #help p {
    margin-top: 1.8rem;
  }

  #trabalheconosco #help_msg {
    left: 4rem;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #contato {
    height: 102vh;
    padding: 4rem 10rem;
  }

  #contato p {
    width: 80%;
  }

  #trabalheconosco {
    height: 96vh;
    padding: 4rem 10rem;
  }

  #trabalheconosco form {
    height: 32rem;
  }

  #cvTitle {
    margin-bottom: 1.4rem;
  }

  #trabalheconosco form label#input_file {
    padding-top: 0.7rem;
  }

  #trabalheconosco form #help {
    margin-top: 2rem;
  }

  #trabalheconosco form #help p {
    margin-top: 2rem;
  }

  #trabalheconosco #help_msg {
    left: 4rem;
  }
}

@media (max-width: 1024px) and (max-height: 610px) {
  #contato {
    height: 120vh;
    padding: 3rem 10rem;
  }

  #contato h1,
  #trabalheconosco h1 {
    font-size: 1.6rem;
  }

  #trabalheconosco {
    height: 114vh;
    padding: 3rem 10rem;
  }
}

@media (orientation: portrait) {
  #contato {
    height: auto;
  }

  #contato :is(p) {
    width: 100%;
    color: #9a9a9a;
  }

  #contato form :is(div) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  #contato form #m_left {
    margin: 0;
  }

  #contato form .form_input {
    margin: 0;
    padding: 0;
  }

  #trabalheconosco {
    margin: 0;
    height: auto;
  }

  #trabalheconosco p {
    width: 100%;
  }

  #trabalheconosco form {
    padding: 0;
    margin: 0;
    height: auto;
  }

  #trabalheconosco form div {
    display: flex;
    flex-direction: column;
  }

  #trabalheconosco form div #m_left {
    margin-left: 0;
  }

  #trabalheconosco form #help {
    flex-direction: row;
  }
}

@media (max-width: 480px) and (max-height: 860px) {
  .button {
    padding-top: 0.76rem;
    width: 8rem;
    height: 2.4rem;
    font-size: 0.8rem;
  }

  #contato {
    padding: 1rem 2rem;
  }

  #contato .button {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }

  :is(#contato, #trabalheconosco) :is(h1) {
    font-size: 1.4rem;
  }

  :is(#contato, #trabalheconosco) :is(p) {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  #contato form {
    height: 35rem;
  }

  :is(#contato, #trabalheconosco) form .form_input :is(label) {
    font-size: 0.8rem;
  }

  #contato form .form_input label {
    margin-top: 1rem;
  }

  #contato form .form_input :is(input, textarea),
  #trabalheconosco form div div.form_input input {
    width: 100%;
  }

  #contato form .form_input textarea {
    height: 10rem;
  }

  #contato form .form_input :is(input),
  #trabalheconosco form div div.form_input input {
    height: 2.4rem;
  }

  #trabalheconosco {
    padding: 1rem 2rem;
  }

  #trabalheconosco form {
    margin-top: -1rem;
  }

  #trabalheconosco form div:first-of-type {
    margin-top: 0rem;
  }

  #trabalheconosco form div {
    margin-top: -1rem;
    width: 67%;
  }

  #trabalheconosco form label {
    margin: 0;
  }

  #cvTitle {
    font-size: 0.8rem;
  }

  #trabalheconosco form label#input_file {
    margin-top: 0.8rem;
    width: 100%;
  }

  #trabalheconosco form #help {
    margin: 0rem 16.6rem;
    padding: 0;
  }

  #trabalheconosco form #help img {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -0.1rem;
  }

  #trabalheconosco form #help p {
    margin-left: 0.8rem;
    font-size: 0.8rem;
  }

  #trabalheconosco form .button {
    margin-top: -2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 420px) and (max-height: 870px) {
  #contato {
    padding: 1rem 2rem;
  }

  #contato h1,
  #trabalheconosco h1 {
    font-size: 1.4rem;
  }

  :is(#contato, #trabalheconosco) :is(p) {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  #contato form,
  #trabalheconosco form {
    height: auto;
  }

  #contato form {
    margin-top: 1rem;
  }

  #contato form .form_input label,
  #trabalheconosco form .form_input label {
    font-size: 0.8rem;
  }

  #contato form .form_input input {
    margin-bottom: 1rem;
    height: 2.4rem;
  }

  #contato form .form_input :is(input, textarea) {
    width: 84%;
  }

  #contato form .form_input textarea {
    height: 20vh;
  }

  .button {
    padding: 0.76rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 10rem;
    height: 2.6rem;
    font-size: 1rem;
  }

  #trabalheconosco {
    padding: 1rem 2rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #trabalheconosco form {
    margin-top: -1.4rem;
  }

  #trabalheconosco form .form_input {
    margin-bottom: -1.8rem;
    width: 37%;
    height: auto;
  }

  #trabalheconosco form .form_input input {
    width: 100%;
    height: 2.4rem;
  }

  #cvTitle {
    font-size: 0.8rem;
  }

  #trabalheconosco form label#input_file {
    padding-top: 0.6rem;
    width: 37%;
    height: 2.4rem;
    font-size: 0.8rem;
  }

  #trabalheconosco #help {
    margin: -1rem 12rem;
  }

  #trabalheconosco #help img {
    width: 1.4rem;
    height: 1.4rem;
  }

  #trabalheconosco .button {
    margin: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 420px) and (max-height: 840px) {
  #contato form .form_input :is(input, textarea) {
    width: 82%;
  }

  #trabalheconosco form .form_input {
    width: 56%;
  }

  #trabalheconosco form label#input_file {
    padding-top: 0.5rem;
    width: 84%;
    height: 2.4rem;
    font-size: 1rem;
  }

  #trabalheconosco form #help {
    margin: 0 12.6rem;
  }
}

@media (max-width: 420px) and (max-height: 740px) {
  #contato h1 {
    font-size: 1.6rem;
  }

  #contato form .form_input {
    width: 54%;
  }

  #trabalheconosco form .form_input {
    width: 82%;
    margin-bottom: 1.6rem;
  }

  #trabalheconosco form label#input_file {
    width: 122%;
  }

  #trabalheconosco form #help {
    margin: -1rem 12.6rem;
  }

  #trabalheconosco form .button {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) and (max-height: 820px) {
  #contato form .form_input {
    width: 33%;
  }

  #trabalheconosco form .form_input {
    width: 50%;
  }

  #trabalheconosco form label#input_file {
    padding-top: 0.62rem;
    width: 75%;
    height: 2.4rem;
    font-size: 0.8rem;
  }

  #trabalheconosco form #help {
    margin: -0.4rem 10rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) and (max-height: 740px) {
  #contato form .form_input {
    width: 46%;
  }

  #contato form .form_input :is(input, textarea) {
    width: 100%;
  }

  #trabalheconosco form .form_input {
    width: 68%;
  }

  #trabalheconosco form label#input_file {
    width: 102%;
  }

  #trabalheconosco form #help {
    margin: -1.4rem 9rem;
  }
}

@media (max-width: 400px) and (max-height: 670px) {
  .button {
    padding-top: 0.5rem;
    width: 8rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  #contato {
    padding: 1rem 2rem;
  }

  #contato form .form_input label {
    margin-top: 1rem;
  }

  #contato form .form_input :is(input, textarea),
  #trabalheconosco form div div.form_input input {
    width: 106%;
  }

  #contato .button {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  #trabalheconosco {
    padding: 1rem 2rem;
  }

  #trabalheconosco form {
    margin-top: -1rem;
  }

  #trabalheconosco form label#input_file {
    width: 110%;
  }

  #trabalheconosco form #help {
    margin: -2rem 11.8rem;
    padding: 0;
  }

  #trabalheconosco form #help img {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.1rem;
  }

  #trabalheconosco form #help p {
    margin-left: 0.8rem;
    font-size: 0.7rem;
  }

  #trabalheconosco form .button {
    margin-top: 1.4rem;
    margin-bottom: 2rem;
  }

  .button {
    padding-top: 0.76rem;
    height: 2.4rem;
  }
}

@media (max-width: 400px) and (max-height: 640px) {
  #contato form .form_input :is(input, textarea) {
    width: 140%;
  }

  #trabalheconosco form div div.form_input input,
  #trabalheconosco form label#input_file {
    width: 100%;
  }

  #trabalheconosco form #help {
    margin: -2rem 10.6rem;
  }
}

@media (max-width: 400px) and (max-height: 568px) {
  #contato form .form_input {
    width: 37%;
  }

  #contato .button {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  #contato form .form_input :is(input, textarea) {
    width: 108%;
  }

  #trabalheconosco form .form_input {
    width: 60%;
  }

  #trabalheconosco form .form_input input {
    width: 100% !important;
  }

  #trabalheconosco form label#input_file {
    width: 90%;
  }

  #trabalheconosco form #help {
    margin: -2rem 8rem;
  }

  #trabalheconosco form #help img {
    width: 1.2rem;
    height: 1.2rem;
  }

  #trabalheconosco form #help p {
    margin-top: 1.82rem;
  }

  #trabalheconosco form .button {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
